<%- contentFor("head") %>
<script src="js/<%=homeJS%>" defer type="module"></script>
<link rel="stylesheet" href="css/home.css">
<link rel="stylesheet" href="css/modules.css">
<script>
  const viewingAccountId = "<%=viewingAccountId%>"
</script>

<%- contentFor("main") %>
<div id="home-flexbox">
  <div id="basic-info-panel">
    <div id="profile-picture-holder">
      <img src="/getProfilePicture?user=<%=viewingAccountId%>" id="profile-picture" draggable="false">
    </div>
    <div id="info-holder">
      <div id="display-name-centerer">
        <div id="display-name"><%=name%></div>
      </div>
      <div id="bio-box">
        <textarea id="biography" class="bio-texts" maxlength="500"><%=bio%></textarea>
        <div id="biography-sizer" class="bio-texts"></div>
        <div id="bio-save-message">Saved!</div>
      </div>
    </div>
  </div>
  <div id="module-parent-container"></div>
</div>
<div id="profile-picture-select-modal">
  <div id="profile-picture-select-body"></div>
</div>

<!-- <div id="name-size-getter"><%=name%></div> -->